<div class="container">
  <h1>Editing</h1>
  <%= simple_form_for @restaurant do |f| %>
  <%= f.input :name %>
  <%= f.input :category %>
  <%= f.input :address %>
  <%= f.input :phone_number %>
  <%= f.submit "Update Restaurant!", class: "btn btn-primary" %>
  <%= link_to "Go back!", restaurants_path %>
  <% end %>
</div>

