  <div class="wrapper">
    <div class="large-card">
      <div class="header">
        <h1><%= @review.content %></h1>
        <h1><%= @review.rating %>/5</h1>
        <hr>
      </div>
      <hr>
      <div class="buttons">
        <%= link_to "Go back", restaurant_reviews_path %>
        <%= link_to "Edit review", edit_review_path %>
        <%= link_to 'Delete',
        review_path(@review),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
